Package: xscreensaver-screensaver-webcollage
Source: xscreensaver
Version: 5.15-3ubuntu1
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 223
Depends: libc6 (>= 2.7), libgdk-pixbuf2.0-0 (>= 2.22.0), libglib2.0-0 (>= 2.12.0), libjpeg8 (>= 8c), xscreensaver-data-extra
Conflicts: xscreensaver-data-extra (<< 5.10-4)
Replaces: xscreensaver-data-extra (<< 5.10-4)
Section: x11
Priority: optional
Homepage: http://www.jwz.org/xscreensaver/
Description: Webcollage hack from XScreenSaver
 This package ships the hack webcollage which displays images from random
 web searches on the Internet.
 .
 WARNING: The Internet being what it is, absolutely anything might show up
 in the collage of search results including -- quite possibly -- pornography,
 or even nudity. Please act accordingly.
Original-Maintainer: Tormod Volden <debian.tormod@gmail.com>
