Source: lxsession
Section: x11
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Debian LXDE Packaging Team <pkg-lxde-maintainers@lists.alioth.debian.org>
Uploaders: Andrew Lee (李健秋) <ajqlee@debian.org>
Build-Depends:
 debhelper (>= 9), autotools-dev, intltool, docbook-to-man, docbook-xml,
 docbook-xsl, libdbus-glib-1-dev (>=0.31), libgtk2.0-dev (>=2.6), xsltproc,
 libpolkit-agent-1-dev, libgee-dev, valac, dh-autoreconf
Standards-Version: 3.9.2
Homepage: http://lxde.sf.net
Vcs-Git: git://git.debian.org/git/pkg-lxde/lxsession.git
Vcs-Browser: http://git.debian.org/?p=pkg-lxde/lxsession.git

Package: lxsession
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, lxsession-data, lxsession-logout, laptop-detect
Recommends: openbox | x-window-manager, openssh-client | rsh-client | ssh-client
Suggests: gpicview, lxde-common, lxpanel, pcmanfm
Provides: lxsession-lite, x-session-manager, policykit-1-gnome
Replaces: lxde-settings-daemon, lxsession-lite
Conflicts: lxde-common (<= 0.4.2-3), lxde-settings-daemon, lxsession-lite
Breaks: lxpolkit (<< 0.4.9.2-0ubuntu5)
Description: default session manager for LXDE
 LXSession is a lightweight X11 session manager with fewer dependencies,
 designed for use with the LXDE(Lightweight X11 Desktop Environment).
 It derived from XSM and have following differences:
  * Removed the session dialog from xsm.
  * Stripped down without session restore function.
  * Automaticlly restart specific program if crashes happened.
  * Use better configuration.
  * Provide a nice logout-dialog with the ability to
    shutdown/reboot/suspend/hibernate via HAL or gdm
  * Support halt/reboot LTSP thin clients,
 and more....
 .
 It's desktop-independent and can be used with any window manager.
 .
 As "session manager" lxsession used to automatically start a set of
 applications and set up a working desktop environment
 .
 LXSession has also a built-in lightweight Xsettings daemon, which can
 configure GTK+ themes, keyboard, and mouse for you on session startup.

Package: lxsession-dbg
Architecture: any
Section: debug
Priority: extra
Depends: ${misc:Depends}, ${shlibs:Depends}, lxsession (= ${binary:Version})
Description: default session manager for LXDE - debug package
 This package provide debug symbols for lxsession.

Package: lxsession-data
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: lxsession (<< 0.4.7)
Description: Common files for lxsession
 This package provide common files for lxsession.

Package: lxsession-edit
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lxsession-data
Description: configure what application start up automaticlly in LXDE 
 LXSession-Edit is a simple session editor GUI for lxsession-lite which
 follows autostart specs from FreeDesktop.Org

Package: lxpolkit
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lxsession-data
Provides: policykit-1-gnome
Description: LXDE PolicyKit authentication agent
 LXPolkit is a GUI application for the Lightweight X11 Desktop Environment
 (LXDE).
 .
 It's a simple PolicyKit authentication agent.

Package: lxsession-logout
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         lxsession-data,
         consolekit
Recommends: lsb-release
Replaces: lxsession (<< 0.4.9.2)
Description: utility to logout from a LXDE or an Openbox session 
 LXSession-Logout is a simple utility for stoping or loging out from a LXDE or
 an Openbox session.

Package: lxsession-default-apps
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Recommends: lxsession
Breaks: lxsession (<< 0.4.9.2-0ubuntu3)
Replaces: lxsession-edit
Description: utility to configure lxsession and its default applications 
 LXSession-Default-Apps is an utility to configure lxsession and its default
 applications.
