Package: lxsession-dbg
Source: lxsession
Version: 0.4.9.2+git20140410-0ubuntu1.1
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 980
Depends: lxsession (= 0.4.9.2+git20140410-0ubuntu1.1)
Section: debug
Priority: extra
Homepage: http://lxde.sf.net
Description: default session manager for LXDE - debug package
 This package provide debug symbols for lxsession.
Original-Maintainer: Debian LXDE Packaging Team <pkg-lxde-maintainers@lists.alioth.debian.org>
