Package: xscreensaver-gl-extra
Source: xscreensaver
Version: 5.15-3ubuntu1
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 9531
Depends: libc6 (>= 2.14), libgdk-pixbuf2.0-0 (>= 2.22.0), libgl1-mesa-glx | libgl1, libgle3, libglib2.0-0 (>= 2.12.0), libglu1-mesa | libglu1, libx11-6, libxext6, libxmu6, libxt6, xscreensaver-gl (>= 5.04-3)
Enhances: gnome-screensaver, xscreensaver
Conflicts: xscreensaver (<< 5.04-3)
Breaks: gnome-screensaver (<< 2.26), kscreensaver-xsaver (<= 4:4.2.4-1)
Replaces: xscreensaver-gl (<< 5.08-0ubuntu4)
Section: x11
Priority: optional
Homepage: http://www.jwz.org/xscreensaver/
Description: GL(Mesa) screen hacks for xscreensaver
 XScreenSaver is a modular screen saver and locker for X11,
 containing more than 200 screen savers.
 .
 This package contains the rest of the 3D (OpenGL) screen saver
 modules from the xscreensaver collection. This package is used
 by both xscreensaver and gnome-screensaver.
 .
 This is the set of GL screensavers not shipped by default with
 xscreensaver-gl: antinspect, gleidescope, glknots, atunnel, blinkbox,
 bubble3d, circuit, cubestorm, glsnake, jigglypuff, lavalite, lockward,
 mirrorblog, moebius, boebiusgears, molecule, morph3d, pipes, polyhedra,
 polytopes, pulsar, queens, sierpinski3d, spheremonics, stonerview,
 superquadrics, topblock, voronoi endgame, engine, flipflop, flipscreen3d,
 flurry, flyingtoasters, gears, gflux, antmaze, atlantis, blocktube, boing,
 bouncingcow, boxed, cage, carousel, crackberg, cube21, cubenetic, dangerball,
 extrusion, fliptext, glforestfire, glhanoi, glplanet, juggler3d, klein, lament,
 menger, noof, pinion, providence, rubik, sballs, sproingies, staris, starwars,
 tangram, timetunnel, companioncube, hilbert, tronbit.
 .
 More display modes can be found in the xscreensaver-data,
 xscreensaver-data-extra and xscreensaver-gl packages.
Original-Maintainer: Tormod Volden <debian.tormod@gmail.com>
